<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Error</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;

    }

    .mainBox {
 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }

    #imgbox {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #img {
        width: 50rem;
    }

    #img img {
        height: 100%;
        width: 100%;
        border-radius: 5rem;
    }

    #btn_box {

        margin: 3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  .btn{
    font-size: 2rem;
  }
</style>

<body>

    <div class="mainBox">
        <div id="imgbox">
            <div id="img">
                <img src="./css/err.jpg" alt="">
            </div>

        </div>

        <div id="btn_box">
            <a href="./">
                <button type="button" class="btn btn-warning">Home</button>
            </a>
        </div>
        <footer>
            <h5>Created By Abhishek Kaintura with your Love And Support..</h5>
        </footer>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>