<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/./css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/./css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="./index.css">
  <title>Food Website</title>
</head>

<body>
  <header>
    <div class="container flex">
      <div id="icons">
        <a href="#" target="_blank"><i class="fa-solid fa-shop"></i></a>
        <h3>Welcome To <span> The Grill </span></h3>
      </div>


      <div id="user">
        <div>
          <i class="fa-solid fa-user"></i>
          <a href="./login" id="login">Sign Up</a>
        </div>



      </div>
    </div>
  </header>
  <nav>
    <div class="top">
      <div class="container flexup ">
        <div class="cont">
          <i class="fa-solid fa-phone-volume"></i>
          <div id="info1">
            <h4>Call Us:111 000 222</h4>
            <h5>Email:abhiKaint21@gmail.com</h5>
          </div>
        </div>
        <div class="brand">
          <img src="./css/loo.jpg" alt="">

        </div>
        <div class="cont">
          <i class="fa-solid fa-clock"></i>
          <div id="info2">
            <h4>Available</h4>
            <h5>Mon-Sat(8:00 A.M.-10:00 P.M.)</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="navs ">
      <div class="container flex">
        <a href="#box" id="home">Home</a>
        <a href="./feedback" id="feedBtn" target="_blank">FeedBack</a>

        <a href="#klj">Gallery</a>

        <a href="#five">Blog</a>
        <a href="#seclast">Order</a>
        <a href="#">Contact</a>
      </div>

    </div>
    <div class="social">

      <a href="//youtube.com" target="_blank"><img src="./css/pl.jpg" alt=""></a>
      <a href="//twitter.com/?lang=en-in" target="_blank"><i class="fa-brands fa-twitter white"></i></a>

      <a href="//www.instagram.com/ka_in_t/" target="_blank"><img src="./css/p1.png" alt="" srcset=""></a>
      <a href="//t.me/Ka_in_t07" target="_blank"><img src="./css/op.png" alt="" srcset=""></a>
    </div>
  </nav>
  <header id="box">
    <div class="container ops">
      <div class="welcome">
        <h2 id="text">Welcome To</h2>
        <img src="./css/loo.jpg" alt="" srcset="">

      </div>
      <h1 class="changes"> </h1>
      <h3>Order food from favourite restaurants near you.</h3>
      <div class="btns">
        <button type="button" class="btn btn-success">Read More</button>
        <button type="button" class="btn btn-primary">Shop Now</button>
      </div>
    </div>


    <div class="container box2">

      <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <img src="./css/fmd.jpeg" class="d-block w-100" alt="...">


          </div>

          <div class="carousel-item">
            <img src="./css/party.jpg" class="d-block w-100" alt="...">

          </div>
          <div class="carousel-item">
            <img src="./css/pi.webp" class="d-block w-100" alt="...">

          </div>
          <div class="carousel-item ">
            <img src="./css/mans2.webp" class="d-block w-100" alt="...">


          </div>
          <div class="carousel-item  ">
            <img src="./css/mans.jpg" class="d-block w-100" alt="...">


          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>

    </div>

  </header>


  <section class="new" id="klj">
    <div class="container">
      <h1 class="foodhead">
        Top Dish
      </h1>
      <hr>
      <div id="carouselExampleControls" class="carousel slide sll " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="boxi">
              <div class="foods">
                <div class="cart">
                  <div class="foodpic">
                    <div class="imgs ">
                      <img src="./css/fo1.jpeg" alt="" srcset="">
                    </div>
                  </div>
                  <hr>
                  <div class="info ">
                    <div class="star">
                      <img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img
                        src="./css/bb.png" alt=""><img src="./css/bb.png" alt="">
                    </div>
                    <h5 class="name">Burger</h5>
                    <h5>Rs.50</h5>
                    <button type="button" class="btn btn-ligh " id="Pan">
                      <p class="i"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</p>
                    </button>
                  </div>
                </div>
              </div>
              <div class="foods">
                <div class="cart">
                  <div class="foodpic">
                    <div class="imgs ">
                      <img src="./css/chola.jpg" alt="" srcset="">
                    </div>
                  </div>
                  <hr>
                  <div class="info ">
                    <div class="star">
                      <img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img
                        src="./css/bb.png" alt=""><img src="./css/bb.png" alt="">
                    </div>
                    <h5 class="name">Chola</h5>
                    <h5>Rs.100</h5>
                    <button type="button" class="btn btn-ligh " id="Cho">
                      <p class="i"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</p>
                    </button>
                  </div>
                </div>
              </div>
              <div class="foods">
                <div class="cart">
                  <div class="foodpic">
                    <div class="imgs ">
                      <img src="./css/pkede.png" alt="" srcset="">
                    </div>
                  </div>
                  <hr>
                  <div class="info ">
                    <div class="star">
                      <img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img
                        src="./css/bb.png" alt=""><img src="./css/bb.png" alt="">
                    </div>
                    <h5 class="name">Pakoda</h5>
                    <h5>Rs.180</h5>
                    <button type="button" class="btn btn-ligh " id="Pak">
                      <p class="i"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</p>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="carousel-item">
            <div class="boxi">
              <div class="foods">
                <div class="cart">
                  <div class="foodpic">
                    <div class="imgs ">
                      <img src="./css/dosa.jpeg" alt="" srcset="">
                    </div>
                  </div>
                  <hr>
                  <div class="info ">
                    <div class="star">
                      <img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img
                        src="./css/bb.png" alt=""><img src="./css/bb.png" alt="">
                    </div>
                    <h5 class="name">Dosa</h5>
                    <h5>Rs.150</h5>
                    <button type="button" class="btn btn-ligh " id="Dos">
                      <p class="i"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</p>
                    </button>
                  </div>
                </div>
              </div>
              <div class="foods">
                <div class="cart">
                  <div class="foodpic">
                    <div class="imgs ">
                      <img src="./css/maagi.jpeg" alt="" srcset="">
                    </div>
                  </div>
                  <hr>
                  <div class="info ">
                    <div class="star">
                      <img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img
                        src="./css/bb.png" alt=""><img src="./css/bb.png" alt="">
                    </div>
                    <h5 class="name">Noodles</h5>
                    <h5>Rs.140</h5>
                    <button type="button" class="btn btn-ligh " id="Noo">
                      <p class="i"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</p>
                    </button>
                  </div>
                </div>
              </div>
              <div class="foods">
                <div class="cart">
                  <div class="foodpic">
                    <div class="imgs ">
                      <img src="./css/pas.jpeg" alt="" srcset="">
                    </div>
                  </div>
                  <hr>
                  <div class="info ">
                    <div class="star">
                      <img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img
                        src="./css/bb.png" alt=""><img src="./css/bb.png" alt="">
                    </div>
                    <h5 class="name">Pasta</h5>
                    <h5>Rs.35</h5>
                    <button type="button" class="btn btn-ligh " id="Pas">
                      <p class="i"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="boxi">
              <div class="foods">
                <div class="cart">
                  <div class="foodpic">
                    <div class="imgs ">
                      <img src="./css/cake.png" alt="" srcset="">
                    </div>
                  </div>
                  <hr>
                  <div class="info ">
                    <div class="star">
                      <img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img
                        src="./css/bb.png" alt=""><img src="./css/bb.png" alt="">
                    </div>
                    <h5 class="name">Cake</h5>
                    <h5>Rs.200</h5>
                    <button type="button" class="btn btn-ligh " id="Cak">
                      <p class="i"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</p>
                    </button>
                  </div>
                </div>
              </div>
              <div class="foods">
                <div class="cart">
                  <div class="foodpic">
                    <div class="imgs ">
                      <img src="./css/sandi.jpeg" alt="" srcset="">
                    </div>
                  </div>
                  <hr>
                  <div class="info ">
                    <div class="star">
                      <img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img
                        src="./css/bb.png" alt=""><img src="./css/bb.png" alt="">
                    </div>
                    <h5 class="name">SandWich</h5>
                    <h5>Rs.60</h5>
                    <button type="button" class="btn btn-ligh " id="San">
                      <p class="i"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</p>
                    </button>
                  </div>
                </div>
              </div>
              <div class="foods">
                <div class="cart">
                  <div class="foodpic">
                    <div class="imgs ">
                      <img src="./css/lado.jpeg" alt="" srcset="">
                    </div>
                  </div>
                  <hr>
                  <div class="info ">
                    <div class="star">
                      <img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img src="./css/ls.png" alt=""><img
                        src="./css/bb.png" alt=""><img src="./css/bb.png" alt="">
                    </div>
                    <h5 class="name">Sweets</h5>
                    <h5>Rs.40</h5>
                    <button type="button" id="Swe" class="btn btn-ligh ">
                      <p class="i"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
      <hr>
      <div class="bt">
        <button type="button" id="odbtn" class="btn btn-primary">Add To Order</button>
      </div>
    </div>
  </section>

  <section class="sec">
    <div class="container asd">
      <h1 class="foodhead">
        Healthy diet
      </h1>


      <div class="inn">
        <div class="first">
          <img src="./css/rewe.jpeg" alt="" srcset="">
        </div>
        <div class="second">
          <h3>Healthy Eating for a Healthy Weight</h3>
          <p>Emphasizes fruits, vegetables, whole grains, and fat-free or low-fat milk and milk products. Includes a
            variety of protein foods such as seafood, lean meats and poultry, eggs, legumes (beans and peas), soy
            products, nuts, and seeds. Is low in added sugars, sodium, saturated fats, trans fats, and cholesterol</p>
          <button type="button" class="btn btn-danger">Read More</button>
        </div>
      </div>

    </div>

  </section>
  <section class="third">
    <div class="container">

      <h1 class="foodhead">
        Services
      </h1>
      <div class="services">
        <div class="sercart">


          <div class="imfo">
            <h4>Food Deleviry</h4>
            <div class="serpic">
              <div class="imgss ">
                <img src="./css/se1.webp" alt="" srcset="">
              </div>
            </div>
            <p>Order from your favorite restaurants & track on the go, with the all-new <span>
                Grill</span> website.</p>



          </div>
        </div>
        <div class="sercart">


          <div class="imfo">
            <h4>Food Deleviry</h4>
            <div class="serpic">
              <div class="imgss ">
                <img src="./css/se1.webp" alt="" srcset="">
              </div>
            </div>
            <p>Order from your favorite restaurants & track on the go, with the all-new <span>
                Grill</span> website.</p>



          </div>
        </div>
        <div class="sercart">


          <div class="imfo">
            <h4>Food Deleviry</h4>
            <div class="serpic">
              <div class="imgss ">
                <img src="./css/se1.webp" alt="" srcset="">
              </div>
            </div>
            <p>Order from your favorite restaurants & track on the go, with the all-new <span>
                Grill</span> website.</p>



          </div>
        </div>
      </div>

    </div>



  </section>
  <section id="four">
    <div class="container">
      <h1 class="foodhead pl">
        Big Deal Of The Week
      </h1>
      <div id="boxes">
        <div class="o1">
          <h1>08</h1>
          <h3>hr</h3>
        </div>
        <div class="o2">
          <h1 id="mins"></h1>
          <h3>min</h3>
        </div>
        <div class="o3">
          <h1 id="secs"></h1>
          <h3>sec</h3>
        </div>
      </div>
    </div>

  </section>
  <section id="five">
    <div class="container">
      <h1 class="foodhead ">
        Reviews
      </h1>
      <div id="boxes1">
        <div class="p1">
          <div class="imgbox">
            <img src="./css/pan.webp" alt="" srcset="">
          </div>
          <div class="details">
            <h4>Panner Bhuji</h4>
            <div class="per" id="feedna"><span>14-02-19</span><span></span></div>
            <p id="feedin"></p>
          </div>
        </div>
        <div class="p1">
          <div class="imgbox">
            <img src="./css/chobho.jpg" alt="" srcset="">
          </div>
          <div class="details">
            <h4>Chole Bhature</h4>
            <div class="per"><span>17-11-22</span><span>By-Aman</span></div>
            <p>Chana Bhatura is a spicy, tasty and a filling dish. I have eaten this dish at many places in Punjab and
              Delhi. Each restaurants or dhaba (eateries on highways) .</p>
          </div>
        </div>


      </div>


  </section>




  <section id="ser">
    <div class="container" id="six">
      <div class="leftside">
        <div id="imgx">
          <img src="./css/ice2.jpg" alt="">
        </div>
      </div>
      <div class="rightside">
        <div id="ino">
          <h3>Follow Our Website</h3>
          <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, laborum!Lorem
            Lorem ipsum dolor sit amet.


          </h6>
        </div>

        <div id="searchbox">
          <div class="input-group mb-3 inp">
            <input type="text" class="form-control" placeholder="Search For Your Fav" aria-label="Recipient's username"
              aria-describedby="button-addon2">

            <button class="btn btn-outline-secondary yred" type="button" id="button-addon2">Search</button>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="seclast">
    <div id="thankYou" class="l ">
      <img src="../css/tt2.jpg" alt="" srcset="">
      <div id="thankText">
        <h2><strong> Thank You!</strong></h2>
        <h4>Enjoy Meal With Family And Have A Good Day</h4>
        <button type="button" id="thankbtn" class="btn btn-success">
          <h3>O.K.</h3>
        </button>
      </div>
    </div>

    <h1 class="foodhead">
      Order Food
    </h1>
    <div class="container" id="fomsa">
      <div id="leftfom">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110204.74637231347!2d77.94709423572425!3d30.325409792366624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929c356c888af%3A0x4c3562c032518799!2sDehradun%2C%20Uttarakhand!5e0!3m2!1sen!2sin!4v1668755393197!5m2!1sen!2sin"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div id="rightfom">

        <form action="/order" method="post">
          <div class="form-group">
            <input type="text" class="form-control inp" id="exampleFormControlInput1" placeholder="Enter Your Name"
              name="fname" />
          </div>

          <div class="form-group">

            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Number"
              name="number" />
          </div>
          <div class="form-group">
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3" placeholder="Your Order"
              name="order"></textarea>
          </div>
          <div class="form-group">

            <textarea class="form-control form-control-lg" id="adds" type="text" name="address"
              placeholder="Enter Your Address" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-success" id="vbt">
            <h2>ORDER</h2>
          </button>
        </form>


        </button>
      </div>
    </div>
  </section>



  <footer>

    <div class="two">
      <div class="fooimg">
        <img
          src="./css/fresh-red-hot-chili-pepper-kitchen-organic-vector-spicy-taste-chili-mexican-pepper-with-flame-fire_41737-703.webp"
          alt=" " srcset="">
      </div>
      <div class=" fooinfo">
        <h2>Best Service of <div class="">
            <h1>The Grill</h1>
          </div>
        </h2>
      </div>
    </div>


    <div class="two">
      <div class="fooimg">
        <img src="./css/kaint.jpg" alt="" srcset="">
      </div>
      <div class="fooinfo">
        <h2>Abhishek Kaintura</h1>
      </div>
      </h2>
    </div>
    </div>



    <div class="two BN">
      <div class="fooimg">
        <img src="./css/fod.jpeg" alt="" srcset="">
      </div>
      <div class="fooinfo">
        <h4>Copyright © 2022 -'www.tastyfoodinfo.com'-All rights reserve.
        </h4>
        <div class="pop">
          <div class="">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class=""> <i class="fa-brands fa-instagram"></i>
          </div>
          <div>
            <i class="fa-brands fa-whatsapp"></i>
          </div>

        </div>
      </div>
    </div>





  </footer>
  <div id="all">
    <div class="alert alert-danger" id="albox" role="alert">
      <p id="alp">Please!</p>
      <p id="aldp">Register Yourself and enjoy your favorite meal</p>
    </div>
  </div>










  <script>

  </script>


  <script src="./js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>


</body>

</html>